button {
    width: 350px;
    height: 60px;
    color: #FFF;
    font-family: Spinnaker;
    font-size: 26px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #4031EC;
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
}