.divtarefa {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

.tarefa {
    width: 580px;
    height: 45px;
    border: none;
    padding: 8px;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: rgba(78, 97, 166, 0.40);
    font-family: Open Sans;
    font-size: 20px;
    color: #FFF;
    margin-right: 20px;
    /* transition: 0.8s; */
}